@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import "~pretty-checkbox/src/pretty-checkbox.scss";

$secondary: #5f34f9;
$primary: #78ffd6;
$danger: #ff463f;
$success: #85c910;
$warning: #ffdc00;
$info: #00a1ff;
$bgcolor: #00c6ff;
$bggradient: #0072ff;
.App {
  text-align: center;
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

/*login and register */
.border {
  width: 100%;
  position: relative;
  border: none;
  border-bottom: 2px solid #d9d9d9;
  padding-bottom: 13px;
  margin-top: 0%;
  outline: none;
}
.sameLine {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wholeForm {
  width: 100%;
  height: 78vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, $bgcolor, $bggradient);
}
.loginButton {
  margin-top: 5%;
  color: white;
  background-color: $danger;
  border-radius: 15px;
  padding: 1% 5%;
  width: 125px;
  font-size: 1rem;
  text-decoration: none;
  border: 1px solid $secondary;
  border: 1px solid $secondary;
  outline: 0;
}
.loginButton:hover {
  background-color: #ff160e;
}
.loginFooter {
  height: 22vh;
}
.login h1 {
  font-size: 2.6rem;
  color: white;
  font-weight: 100;
}
.searchifyTitle {
  font-size: 3.3rem;
  font-weight: 100;
}
.login h2 {
  font-size: 1.4rem;
  color: white;
}

/*Home Screen */

.home {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

//search
.search {
  background: linear-gradient(90deg, $bgcolor, $bggradient);

  padding-bottom: 10%;
  width: 100%;
  input {
    margin-bottom: 1%;
    border: none;
    padding: 1%;
    border-radius: 10px;
    font-size: 1.3rem;
    width: 300px;
    outline-width: 0;
  }

  p {
    color: white;
  }
  h1 {
    color: white;
    font-size: 2.6rem;
  }
  h2 {
    font-size: 1.2rem;
    color: white;
  }
  h3 {
    font-size: 1rem;
    padding-bottom: 3%;
    color: white;
  }
  h4 {
    font-size: 1.4rem;
    color: white;
  }
  .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2%;
    margin-top: 0.3%;
    a {
      margin-left: 1%;
      font-size: 1rem;
      text-decoration: none;
      color: #fa6964;
    }
    a:hover {
      color: $danger;
    }
  }
}

.link {
  font-size: 1rem;
  text-decoration: none;
  color: white;
  padding: 1%;
  cursor: pointer;
  width: 300px;
  margin: 0 auto;
  border-radius: 15px;
}
.link:hover {
  background-color: $secondary;
}
.searchFlex {
  display: flex;
  flex-direction: column;
}

//your music
.yourMusic {
  margin-top: 2%;
  width: 1600px;
  h1 {
    font-size: 2rem;
  }
}
.selected {
  border: none;
  background-color: $success;
  border-radius: 5px;
  padding: 1% 2%;
  cursor: pointer;
  margin: 1%;
  outline: 0;
  color: white;
}
.selected:hover {
  background-color: rgb(110, 167, 13);
}

.notSelected {
  border: none;
  background-color: $danger;
  border-radius: 5px;
  padding: 1% 2%;
  cursor: pointer;
  margin: 1%;
  outline: 0;

  color: white;
}
.notSelected:hover {
  background-color: rgb(201, 55, 50);
}
//Playlists
.playlists {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  h2 {
    font-size: 1.2rem;
  }
  .playlistImage {
    width: 100%;
  }
  .playlist {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    color: black;
    width: 270px;
    padding-bottom: 1%;
    margin: 1% 1%;
    padding-top: 0.5%;
    border: 1px solid white;
  }
  .playlist:hover {
    border: 1px solid black;
  }
  .playlistLinks {
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .trackURL {
    background-color: $secondary;
    border: 1px solid white;
    color: #e1e1e6;
    text-decoration: none;
    font-size: 1rem;
    padding: 2%;
    border-radius: 5px;
    width: 50%;
    padding: 4% 6%;
    outline: 0;
  }
  .trackURL:hover {
    border: 1px solid $secondary;
    background-color: rgb(70, 38, 189);
  }
  .public {
    font-size: 0.8rem;
    color: #4bb543;
  }
  .private {
    font-size: 0.8rem;
    color: #fa6664;
  }
  .container1 {
    width: 70%;
  }

  img {
    border: 2px solid white;
    cursor: pointer;
  }
  img:hover {
    border: 2px solid $secondary;
  }
}

//tracks

.yourSongs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;

  .yourSong {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    position: relative;
    border-radius: 7px;
    transition: all 150ms ease-in-out;
    box-shadow: 0 10px 26px rgba(100, 110, 140, 0.1),
      0 2px 4px rgba(100, 110, 140, 0.15);
    width: 270px;
    padding-bottom: 1%;
    margin: 1% 1%;
    padding-top: 0.5%;
    border-bottom: none;
  }
  .yourSong:hover {
    transform: translate3D(0, -1px, 0);
    box-shadow: 0 8px 22px rgba(100, 110, 140, 0.2),
      0 5px 18px rgba(100, 110, 140, 0.25);
    background-color: #fbfdff;
  }
  .trackImage {
    width: 70%;
    border: 2px solid white;
    cursor: pointer;
  }
  .trackImage:hover {
    border: 2px solid $secondary;
  }
  p {
    font-size: 0.8rem;
  }
  .trackURL {
    background-color: $secondary;
    border: 1px solid white;
    color: #e1e1e6;
    text-decoration: none;
    font-size: 1rem;
    padding: 2%;
    border-radius: 5px;
    width: 50%;
    padding: 4% 6%;
    outline: 0;
  }
  .trackURL:hover {
    border: 1px solid $secondary;
    background-color: rgb(70, 38, 189);
  }
}

/* Individual Playlist */

.playlist {
  p {
    font-size: 0.9rem;
  }
}
.fontawesome {
  margin-left: 1%;
  margin-top: 1%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  position: sticky;
}
.goBack {
  color: $danger;
  position: fixed;
  background-color: white;
  border-radius: 15px;
  cursor: pointer;
}
.goBack:hover {
  color: #ce3832;
}
.playlistsongs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  p {
    font-size: 0.9rem;
  }
}
.playlistsong {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #e1e1e6;
}
.playlistsong:hover {
  background: $secondary;
  color: white;
}

.song {
  width: 25%;
  white-space: nowrap;
  cursor: pointer;
}
.listIcon {
  color: $danger;
}
.listIcon:hover {
  color: #ff716c;
  .listIcon {
    color: white;
  }
}
.song:hover {
  text-decoration: overline;
  color: #ff716c;
}
.artist {
  width: 25%;
  cursor: pointer;
  white-space: nowrap;
}
.artist:hover {
  text-decoration: overline;
  color: #ff716c;
}
.artist1 {
  width: 25%;
  cursor: pointer;
  white-space: nowrap;
}
.artist1:hover {
  text-decoration: overline;
  color: #ff716c;
}

.playlistheaders {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  border-bottom: 1px solid #e1e1e6;
  color: #a9a9a9;
  .playlistheader {
    width: 25%;
  }
  .playlistheader1 {
    width: 25%;
  }
  .playlistheader2 {
    width: 1.5%;
  }

  p {
    font-size: 0.9rem;
  }
}
.playlisttop {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  white-space: normal !important;
  margin-bottom: 2%;
  p {
    font-size: 1rem;
  }
  .playlistName {
    margin-bottom: 1%;
    border: 1px solid black;
    padding: 4%;
    border-radius: 10px;
    font-size: 1rem;
    width: 280px;
    outline-width: 0;
  }

  label {
    font-size: 1rem;
  }
  .noMargin {
    display: inline-block;
    width: 20%;
  }

  img {
    width: 100%;
    margin-left: 30%;
    cursor: pointer;
    border: 2px solid white;
  }
  img:hover {
    border-color: $secondary;
  }
  .createInfo {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .playlistButton {
    background-color: $secondary;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 2%;
    border-radius: 15px;
    white-space: nowrap;
    overflow: visible;
    padding: 2% 5%;
    width: 300px;
    cursor: pointer;
    outline: 0;
    padding-top: 4%;
    padding-bottom: 4%;
  }
  .playlistButton:hover {
    border: 1px solid $secondary;
    background-color: rgb(70, 38, 189);
  }
}
.playlistURL1 {
  background-color: $secondary;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  padding: 2%;
  border-radius: 15px;
  white-space: nowrap;
  overflow: visible;
  padding: 4% 10%;
  outline: 0;
}
.playlistURL1:hover {
  border: 1px solid $secondary;
  background-color: rgb(70, 38, 189);
}
.playlistURL {
  background-color: white;
  border: 1px solid white;
  color: $secondary;
  text-decoration: none;
  font-size: 1rem;
  padding: 2%;
  border-radius: 15px;
  width: 33%;
  padding: 2% 5%;
  outline: 0;
  transition: background-color 1s ease;
}
.playlistURL:hover {
  background: linear-gradient(90deg, #a8ff78, $primary);
  color: black;
}

.sweet-loading {
  margin: 3%;
}
.marginBottom {
  margin-bottom: 30px;
}
//search songs
.savePlaylist {
  display: flex;
  flex-direction: column;
}
.pretty {
  width: 20%;
  font-size: 0.7rem;
  margin: 5% auto;
}
.searchClick {
  text-decoration: none;
  font-size: 2.5rem;
  color: $danger;
  margin: 0;
  cursor: pointer;
}
.searchClick:hover {
  color: #be2d28;
}
//footer

.footer {
  border-top: 1px solid #a9a9a9;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  p {
    font-size: 1rem;
    margin-left: 10%;
    white-space: nowrap;
  }
  .footertogether {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}
.spotifylogo1 {
  width: 150px;
  cursor: pointer;
  padding: 75px;
}
.spotifylogo {
  width: 100%;
}

//Explore section
.explore {
  padding-top: 2%;
  padding-bottom: 3%;
  width: 100%;
  background: linear-gradient(90deg, #ee0979, #ff6a00);
  color: white;
  h1 {
    font-size: 2.6rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  .allFeaturePlaylists {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
  }
  .feature {
    width: 49%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .featureText {
    padding: 3%;
    width: 45%;
    display: flex;
    flex-direction: column;

    margin-left: 10px;
  }
  .featureImage {
    width: 100px;
  }
  img {
    width: 100%;
    border: 2px solid #ee0979;
    cursor: pointer;
  }
  img:hover {
    border-color: $secondary;
  }
  h3 {
    font-size: 1.3rem;
    margin: 0;
    cursor: pointer;
  }
  h3:hover {
    color: rgb(173, 173, 173);
  }
  p {
    font-size: 1rem;
    margin: 0;
    margin-top: 10px;
  }
}
.exploreTitles {
  display: flex;
  flex-direction: column;
}
.featureButton {
  background-color: $secondary;
  color: #e1e1e6;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 5px;
  padding: 2% 3%;
  outline: 0;
  width: 60px;
}
.featureButton:hover {
  background-color: rgb(70, 38, 189);
}
.selectedExplore {
  border: none;
  background-color: $success;
  border-radius: 5px;
  padding: 1% 2%;
  cursor: pointer;
  margin: 1%;
  outline: 0;
  color: white;
}
.selectedExplore:hover {
  background-color: rgb(110, 167, 13);
}

.notSelectedExplore {
  border: none;
  background-color: $bgcolor;
  border-radius: 5px;
  padding: 1% 2%;
  cursor: pointer;
  margin: 1%;
  outline: 0;
  color: white;
}
.notSelectedExplore:hover {
  background-color: #0194bd;
}

//media queries

@media (max-width: 1600px) {
  .home {
    width: 100%;
  }
  .search {
    width: 100%;
  }
  .yourMusic {
    width: 100%;
  }
}

@media (max-width: 1400px) {
  .playlistsongs {
    p {
      font-size: 0.8rem;
      overflow: hidden;
    }
  }
}

@media (max-width: 1023px) {
  .createInfo {
    width: 90% !important;
    h1 {
      width: 90% !important;
    }
  }
  .noMargin {
    width: 35% !important;
    margin-top: 25px;
    img {
      margin: 0;
      margin-top: 10%;
    }
  }
  .playlisttop {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 981px) {
  .feature {
    width: 90% !important;
    margin-bottom: 30px !important;
  }
}
@media (max-width: 900px) {
  .searchClick {
    margin-top: 50px !important;
  }
  .playlisttop {
    margin-top: 40px !important;
  }
}

@media (max-width: 768px) {
  .artist1 {
    display: none !important;
  }
  .song {
    width: 45%;
  }
  .artist {
    width: 45%;
  }
  .playlistheader {
    width: 45% !important;
  }
  .push {
    padding-left: 7% !important;
  }
  .playlistheader1 {
    display: none !important;
  }
  .listIcon {
    margin-left: 10px !important;
  }
  .loginButton {
    width: 200px !important;
    padding-top: 3% !important;
    padding-bottom: 3% !important;
  }
  .listIcon {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .playlistheader2 {
    padding-left: 10px !important;
  }
}

@media (max-width: 600px) {
  .home .playlist {
    padding: 0 !important;
    margin: 1% !important;
    width: 150px !important;
  }
  .home .yourSong {
    padding: 0 !important;
    margin: 1% !important;
    width: 150px !important;
  }
}
@media (max-width: 500px) {
  .right {
    justify-content: space-around !important;
  }
  .footer p {
    font-size: 0.7rem;
  }
  .spotifylogo1 {
    width: 100px;
    padding: 50px;
  }
  .login .rotate {
    margin-left: 5%;
  }
  .playlistheader2 {
    margin-right: 7%;
  }
  .login h2 {
    width: 87% !important;
  }
  .songSearch {
    padding: 3% !important;
    margin-top: 3% !important;
  }
  .link {
    margin-top: 6% !important;
  }
  .selected {
    text-align: center;
    padding: 4% !important;
  }
  .notSelected {
    text-align: center;
    padding: 4% !important;
  }
  .yourMusic {
    padding-top: 6% !important;
    padding-bottom: 5% !important;
  }
  .playlistImage {
    width: 80% !important;
  }
  .playlist {
    padding-top: 6% !important;
    padding-bottom: 6% !important;
  }
  .trackURL {
    padding: 5% !important;
  }
  .search h3 {
    width: 70% !important;
    margin: 0 auto;
    padding-bottom: 5% !important;
  }
  .trackImage {
    width: 60% !important;
  }
  .yourSong {
    padding-top: 6% !important;
    padding-bottom: 6% !important;
  }
}
@media (max-width: 356px) {
  .songSearch {
    width: 85% !important;
  }
}
