@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import "~pretty-checkbox/src/pretty-checkbox.scss";

.App {
  text-align: center;
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

/*login and register */
.border {
  width: 100%;
  position: relative;
  border: none;
  border-bottom: 2px solid #d9d9d9;
  padding-bottom: 13px;
  margin-top: 0%;
  outline: none;
}

.wholeForm {
  width: 100%;
  height: 78vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #a8ff78, #78ffd6, #c9ffab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
.loginButton {
  margin-top: 5%;
  color: white;
  background-color: #00203f;
  border-radius: 15px;
  padding: 1% 5%;
  width: 125px;
  font-size: 1rem;
  text-decoration: none;
  border: 1px solid #00203f;
  transition: background-color 1s ease;
  border: 1px solid #00203f;
  outline: 0;
}
.loginButton:hover {
  background-color: #35699c;
}
.loginFooter {
  height: 22vh;
}
.login h1 {
  color: #00203f;
  font-size: 2.6rem;
}
.searchifyTitle {
  font-size: 3.3rem;
}
.login h2 {
  font-size: 1.4rem;
}

/*Home Screen */

.home {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

//search
.search {
  background: linear-gradient(90deg, #a8ff78, #78ffd6);

  padding-bottom: 10%;
  width: 100%;
  input {
    margin-bottom: 1%;
    border: none;
    padding: 1%;
    border-radius: 15px;
    font-size: 1.3rem;
    width: 300px;
    outline-width: 0;
  }

  p {
    color: #00203f;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1rem;
    padding-bottom: 3%;
  }
  h4 {
    font-size: 1.4rem;
  }
  .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2%;
    margin-top: 0.3%;
    a {
      margin-left: 1%;
      font-size: 1rem;
      text-decoration: none;
      color: black;
    }
    a:hover {
      color: white;
    }
  }
}

.searchItem {
  color: white;

  text-decoration: none;
  width: 15%;
  margin: 0 auto;
  border-radius: 15px;
}
.searchItem:hover {
  background-color: #191414;
}
.link {
  font-size: 1rem;
  text-decoration: none;
  color: #00203f;
  padding: 1%;
  cursor: pointer;
  width: 300px;
  margin: 0 auto;
  border-radius: 15px;
}
.link:hover {
  background-color: #00203f;
  color: white;
}
.searchFlex {
  display: flex;
  flex-direction: column;
}

//your music
.yourMusic {
  margin-top: 2%;
  width: 1600px;
  h1 {
    font-size: 2rem;
  }
}
.selected {
  border: none;
  background-color: #ffcccb;
  border-radius: 15px;
  padding: 1% 2%;
  cursor: pointer;
  margin: 1%;
  outline: 0;
  width: 100px;
}
.selected:hover {
  background-color: #fa6664;
}

.notSelected {
  border: none;
  background-color: #78ffd6;
  border-radius: 15px;
  padding: 1% 2%;
  cursor: pointer;
  margin: 1%;
  outline: 0;
  width: 100px;
}
.notSelected:hover {
  background-color: #39d3a5;
}
//Playlists
.playlists {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  h2 {
    font-size: 1.2rem;
  }
  .playlistImage {
    width: 100%;
  }
  .playlist {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    color: #00203f;
    width: 270px;
    padding-bottom: 1%;
    margin: 1% 1%;
    border: 1px solid #e1e1e6;
    padding-top: 0.5%;
  }
  .playlist:hover {
    border: 1px solid #78ffd6;
  }
  .playlistLinks {
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .trackURL {
    background-color: #00203f;
    border: 1px solid white;
    color: #e1e1e6;
    text-decoration: none;
    font-size: 1rem;
    padding: 2%;
    border-radius: 15px;
    width: 50%;
    padding: 2% 5%;
    transition: background-color 1s ease;
    outline: 0;
  }
  .trackURL:hover {
    border: 1px solid #78ffd6;
    background-color: #0155aa;
  }
  .public {
    font-size: 0.8rem;
    color: #4bb543;
  }
  .private {
    font-size: 0.8rem;
    color: #fa6664;
  }
  .container1 {
    width: 70%;
  }

  img {
    border: 3px solid white;
    cursor: pointer;
  }
  img:hover {
    border: 3px solid #ffcccb;
  }
}

//tracks

.yourSongs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;

  .yourSong {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    color: #00203f;
    width: 270px;
    padding-bottom: 1%;
    margin: 1% 1%;
    border: 1px solid #e1e1e6;
    padding-top: 0.5%;
  }
  .yourSong:hover {
    border: 1px solid #78ffd6;
  }
  .trackImage {
    width: 70%;
    border: 3px solid white;
    cursor: pointer;
  }
  .trackImage:hover {
    border: 3px solid #ffcccb;
  }
  p {
    font-size: 0.8rem;
  }
  .trackURL {
    background-color: #00203f;
    border: 1px solid white;
    color: #e1e1e6;
    text-decoration: none;
    font-size: 1rem;
    padding: 2%;
    border-radius: 15px;
    width: 50%;
    padding: 2% 5%;
    transition: background-color 1s ease;
    outline: 0;
  }
  .trackURL:hover {
    border: 1px solid #78ffd6;
    background-color: #0155aa;
  }
}

/* Individual Playlist */

.playlist {
  p {
    font-size: 0.9rem;
  }
}
.fontawesome {
  margin-left: 1%;
  margin-top: 1%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  position: sticky;
}
.goBack {
  color: #1db954;
  position: fixed;
  background-color: white;
  border-radius: 15px;
  cursor: pointer;
}
.playlistsongs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  p {
    font-size: 0.9rem;
  }
}
.playlistsong {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #e1e1e6;
}
.playlistsong:hover {
  background: linear-gradient(90deg, #a8ff78, #78ffd6);
  color: black;
}

.song {
  width: 25%;
  white-space: nowrap;
  cursor: pointer;
}
.listIcon {
  color: black;
}
.listIcon:hover {
  color: blue;
}
.song:hover {
  text-decoration: underline;
  color: blue;
}
.artist {
  width: 25%;
  cursor: pointer;
  white-space: nowrap;
}
.artist:hover {
  text-decoration: underline;
  color: blue;
}
.artist1 {
  width: 25%;
  cursor: pointer;
  white-space: nowrap;
}
.artist1:hover {
  text-decoration: underline;
  color: blue;
}

.playlistheaders {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  border-bottom: 1px solid #e1e1e6;
  color: #a9a9a9;
  .playlistheader {
    width: 25%;
  }
  .playlistheader1 {
    width: 25%;
  }
  .playlistheader2 {
    width: 1.5%;
  }

  p {
    font-size: 0.9rem;
  }
}
.playlisttop {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  white-space: normal !important;
  margin-bottom: 2%;
  p {
    font-size: 1rem;
  }
  .playlistName {
    margin-bottom: 1%;
    border: 1px solid black;
    padding: 3%;
    border-radius: 15px;
    font-size: 1rem;
    width: 280px;
    outline-width: 0;
  }

  label {
    font-size: 1rem;
  }
  .noMargin {
    display: inline-block;
    width: 20%;
  }

  img {
    width: 100%;
    margin-left: 30%;
    cursor: pointer;
    border: 3px solid white;
  }
  img:hover {
    border-color: #78ffd6;
  }
  .createInfo {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .playlistButton {
    background-color: #00203f;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 2%;
    border-radius: 15px;
    white-space: nowrap;
    overflow: visible;
    padding: 2% 5%;
    width: 300px;
    cursor: pointer;
    transition: background-color 1s ease;
    outline: 0;
    padding-top: 4%;
    padding-bottom: 4%;
  }
  .playlistButton:hover {
    border: 1px solid #78ffd6;
    background-color: #0155aa;
  }
}
.playlistURL1 {
  background-color: #00203f;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  padding: 2%;
  border-radius: 15px;
  white-space: nowrap;
  overflow: visible;
  padding: 4% 10%;
  outline: 0;
  transition: background-color 1s ease;
}
.playlistURL1:hover {
  border: 1px solid #78ffd6;
  background-color: #0155aa;
}
.playlistURL {
  background-color: white;
  border: 1px solid white;
  color: #00203f;
  text-decoration: none;
  font-size: 1rem;
  padding: 2%;
  border-radius: 15px;
  width: 33%;
  padding: 2% 5%;
  outline: 0;
  transition: background-color 1s ease;
}
.playlistURL:hover {
  background: linear-gradient(90deg, #a8ff78, #78ffd6);
  color: black;
}

.sweet-loading {
  margin: 3%;
}

//search songs
.savePlaylist {
  display: flex;
  flex-direction: column;
}
.pretty {
  width: 20%;
  font-size: 0.7rem;
  margin: 5% auto;
}
.searchClick {
  text-decoration: none;
  font-size: 2.5rem;
  color: #00203f;
  margin: 0;
  cursor: pointer;
}
.searchClick:hover {
  color: #016dd8;
}
//footer

.footer {
  border-top: 1px solid #a9a9a9;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  p {
    font-size: 1rem;
    margin-left: 10%;
    white-space: nowrap;
  }
  .footertogether {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}
.spotifylogo1 {
  width: 150px;
  cursor: pointer;
  padding: 75px;
}
.spotifylogo {
  width: 100%;
}

//media queries

@media (max-width: 1600px) {
  .home {
    width: 100%;
  }
  .search {
    width: 100%;
  }
  .yourMusic {
    width: 100%;
  }
}

@media (max-width: 1400px) {
  .playlistsongs {
    p {
      font-size: 0.8rem;
      overflow: hidden;
    }
  }
}

@media (max-width: 1023px) {
  .createInfo {
    width: 90% !important;
    h1 {
      width: 90% !important;
    }
  }
  .noMargin {
    width: 35% !important;
    img {
      margin: 0;
      margin-top: 10%;
    }
  }
  .playlisttop {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .artist1 {
    display: none !important;
  }
  .song {
    width: 45%;
  }
  .artist {
    width: 45%;
  }
  .playlistheader {
    width: 45% !important;
  }
  .push {
    padding-left: 7% !important;
  }
  .playlistheader1 {
    display: none !important;
  }
  .listIcon {
    margin-left: 10px !important;
  }
  .loginButton {
    width: 200px !important;
    padding-top: 3% !important;
    padding-bottom: 3% !important;
  }
  .listIcon {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .playlistheader2 {
    padding-left: 10px !important;
  }
}

@media (max-width: 500px) {
  .right {
    justify-content: space-around !important;
  }
  .footer p {
    font-size: 0.7rem;
  }
  .spotifylogo1 {
    width: 100px;
    padding: 50px;
  }
  .login .rotate {
    margin-left: 5%;
  }
  .playlistheader2 {
    margin-right: 7%;
  }
  .login h2 {
    width: 87% !important;
  }
  .songSearch {
    padding: 3% !important;
    margin-top: 3% !important;
  }
  .link {
    margin-top: 6% !important;
  }
  .selected {
    padding: 3% !important;
  }
  .notSelected {
    padding: 3% !important;
  }
  .yourMusic {
    padding-top: 6% !important;
    padding-bottom: 5% !important;
  }
  .playlistImage {
    width: 80% !important;
  }
  .playlist {
    padding-top: 6% !important;
    padding-bottom: 6% !important;
  }
  .trackURL {
    padding: 5% !important;
  }
  .search h3 {
    width: 70% !important;
    margin: 0 auto;
    padding-bottom: 5% !important;
  }
  .trackImage {
    width: 60% !important;
  }
  .yourSong {
    padding-top: 6% !important;
    padding-bottom: 6% !important;
  }
}
@media (max-width: 356px) {
  .songSearch {
    width: 85% !important;
  }
}
