@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import "~pretty-checkbox/src/pretty-checkbox.scss";

.App {
  text-align: center;
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

/*login and register */
.border {
  width: 100%;
  position: relative;
  border: none;
  border-bottom: 2px solid #d9d9d9;
  padding-bottom: 13px;
  margin-top: 0%;
  outline: none;
}

.wholeForm {
  width: 100%;
  height: 78vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #a8ff78, #78ffd6, #c9ffab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
.loginButton {
  margin-top: 5%;
  color: white;
  background-color: #00203f;
  border-radius: 15px;
  padding: 1% 5%;
  width: 100px;
  font-size: 1rem;
  text-decoration: none;
  border: 1px solid #00203f;
}
.loginButton:hover {
  background-color: white;
  color: #00203f;
}
.loginFooter {
  height: 22vh;
}
.login h1 {
  color: #00203f;
  font-size: 2rem;
}

/*Home Screen */

.home {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

//search
.search {
  background: linear-gradient(90deg, #a8ff78, #78ffd6);

  padding-bottom: 10%;
  width: 100%;
  input {
    margin-bottom: 1%;
    border: none;
    padding: 1%;
    border-radius: 15px;
    font-size: 1.3rem;
    width: 300px;
    outline-width: 0;
  }

  h1 {
    font-size: 2.5rem;
    color: #00203f;
    margin: 0;
  }
  p {
    color: #00203f;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1rem;
  }
  .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2%;
    margin-top: 0.3%;
    a {
      margin-left: 1%;
      font-size: 1rem;
      text-decoration: none;
      color: black;
    }
    a:hover {
      color: white;
    }
  }
}

.searchItem {
  color: white;

  text-decoration: none;
  width: 15%;
  margin: 0 auto;
  border-radius: 15px;
}
.searchItem:hover {
  background-color: #191414;
}
.link {
  font-size: 1rem;
  text-decoration: none;
  color: #00203f;
  padding: 1%;
  cursor: pointer;
  width: 300px;
  margin: 0 auto;
  border-radius: 15px;
}
.link:hover {
  background-color: #00203f;
  color: white;
}
.searchFlex {
  display: flex;
  flex-direction: column;
}

//your music
.yourMusic {
  margin-top: 2%;
  width: 1600px;
  h1 {
    font-size: 2rem;
  }
}
//Playlists
.playlists {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  h2 {
    font-size: 1.2rem;
  }
  .playlistImage {
    width: 40%;
  }
  .playlist {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #00203f;
    border-radius: 15px;
    color: white;
    width: 400px;
    padding-bottom: 1%;
    margin: 1% 1%;
  }
  .playlistLinks {
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .playlistURL {
    background-color: white;
    border: 1px solid white;
    color: #00203f;
    text-decoration: none;
    font-size: 1rem;
    padding: 2%;
    border-radius: 15px;
    white-space: nowrap;
    overflow: visible;
    padding: 2% 5%;
  }
  .playlistURL:hover {
    background: linear-gradient(90deg, #a8ff78, #78ffd6);
    color: black;
  }
}

/* Individual Playlist */

.playlist {
  p {
    font-size: 0.9rem;
  }
}
.fontawesome {
  margin-left: 1%;
  margin-top: 1%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  position: sticky;
}
.goBack {
  color: #1db954;
  position: fixed;
  background-color: white;
  border-radius: 15px;
  cursor: pointer;
}
.playlistsongs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  p {
    font-size: 0.9rem;
  }
}
.playlistsong {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid #e1e1e6;
  cursor: pointer;
}
.playlistsong:hover {
  background: linear-gradient(90deg, #a8ff78, #78ffd6);
  color: black;
}
.song {
  width: 25%;

  white-space: nowrap;
}
.artist {
  width: 25%;

  white-space: nowrap;
}
.artist1 {
  width: 25%;

  white-space: nowrap;
}

.playlistheaders {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  overflow: hidden;
  white-space: nowrap;
  border-bottom: 1px solid #e1e1e6;
  color: #a9a9a9;
  .playlistheader {
    width: 25%;
  }
  .playlistheader1 {
    width: 25%;
  }

  p {
    font-size: 0.9rem;
  }
}
.playlisttop {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  white-space: normal !important;
  margin-bottom: 2%;
  p {
    font-size: 1rem;
  }
  .playlistName {
    margin-bottom: 1%;
    border: 1px solid black;
    padding: 3%;
    border-radius: 15px;
    font-size: 1rem;
    width: 280px;
    outline-width: 0;
  }

  label {
    font-size: 1rem;
  }
  .noMargin {
    display: inline-block;
    width: 20%;
  }
  img {
    width: 100%;
    margin-left: 30%;
  }
  .createInfo {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .playlistButton {
    background: linear-gradient(90deg, #a8ff78, #78ffd6);
    border: 1px solid white;
    color: #00203f;
    text-decoration: none;
    font-size: 1rem;
    padding: 2%;
    border-radius: 15px;
    white-space: nowrap;
    overflow: visible;
    padding: 2% 5%;
    width: 300px;
    cursor: pointer;
  }
  .playlistButton:hover {
    background: #00203f;
    color: white;
  }
}
.playlistURL1 {
  background: linear-gradient(90deg, #a8ff78, #78ffd6);
  border: 1px solid white;
  color: #00203f;
  text-decoration: none;
  font-size: 1rem;
  padding: 2%;
  border-radius: 15px;
  white-space: nowrap;
  overflow: visible;
  padding: 2% 5%;
}
.playlistURL1:hover {
  background: #00203f;
  color: white;
}

//search songs
.savePlaylist {
  display: flex;
  flex-direction: column;
}
.pretty {
  width: 20%;
  font-size: 0.7rem;
  margin: 5% auto;
}
//footer

.footer {
  border-top: 1px solid #a9a9a9;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  p {
    font-size: 1rem;
    margin-left: 10%;
    white-space: nowrap;
  }
  .footertogether {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}
.spotifylogo1 {
  width: 150px;
  cursor: pointer;
  padding: 75px;
}
.spotifylogo {
  width: 100%;
}

//media queries

@media (max-width: 1600px) {
  .home {
    width: 100%;
  }
  .search {
    width: 100%;
  }
  .yourMusic {
    width: 100%;
  }
}

@media (max-width: 1400px) {
  .playlistsongs {
    p {
      font-size: 0.8rem;
      overflow: hidden;
    }
  }
}
@media (max-width: 1023px) {
  .createInfo {
    width: 90% !important;
    h1 {
      width: 90% !important;
    }
  }
  .noMargin {
    width: 35% !important;
    img {
      margin: 0;
      margin-top: 10%;
    }
  }
  .playlisttop {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .artist1 {
    display: none !important;
  }
  .song {
    width: 45%;
  }
  .artist {
    width: 45%;
  }
  .playlistheader {
    width: 45% !important;
  }
  .playlistheader1 {
    display: none !important;
  }
}

@media (max-width: 500px) {
  .right {
    justify-content: space-around !important;
  }
  .footer p {
    font-size: 0.7rem;
  }
  .spotifylogo1 {
    width: 100px;
    padding: 50px;
  }
  .login .rotate {
    margin-left: 5%;
  }
}
